**/*.map
**/.DS_Store
*.vsix
.backup/**
.editorconfig
.github/**
.gitignore
.vscode-test/**
.vscode/**
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DESIGN.md
PROGRESS.md
PUBLISH.md
assets/**
docs/**
node_modules/**
research/**
samples/**
scratch/**
screenshots/**
scripts/**
src/**
tsconfig.json
tsconfig.extension.json
.vs-glass-paths.json
